/**General style settings**/

* {
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: inter;
    text-align: inherit;
    line-height: 1.3;
    cursor: default;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 10%);
    width: 100%;
}

main {
    display: grid;
    width: 100%;
    margin: 0;
    gap: 2.5em;
    /* min-width: 1280px; */
}

h1, h2,h3, h4, h5, h6 {
    color: #FFFFFF;
    font-family: inter;
    text-align: inherit;
    margin: 0 auto;
    line-height: 1.3;
    cursor: default;
}

p {
    color: #9B9B9B;
    font-family: inter;
    text-align: inherit;
    margin: 0;
    cursor: default;
}

strong {
    color: #FFFFFF;
    font-size: inherit;
    font-family: inherit;
    font-weight: 400;
    margin: 0;
    cursor: default;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

p {font-size: 1rem;}

small, .text_small {
    font-size: 0.8rem;
    color: #9B9B9B;
    font-family: inter;
    text-align: inherit;
    margin: 0px;
    cursor: default;
}

button {
    display: flex;
    background-color: #FFFFFF;
    font-family: inter;
    font-size: clamp(.90rem, 1vw, 1.05rem);
    font-style: normal;
    font-weight: 500;
    color: #222222;
    line-height: 24px; /**140**/
    padding: 16px 24px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    max-width: 300px;
    gap: 8px;
    margin: 0;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #C4C4C4;
}


button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-family: inter;
    font-size: clamp(.90rem, 1vw, 1.05rem);
    font-style: normal;
    font-weight: 500;
    color: #ECEDF4;
    line-height: 24px; /**140**/
    padding: 16px 24px;
    border: 2px solid #ECEDF4;
    border-radius: 12px;
    cursor: pointer;
    max-width: 500px;
    gap: 8px;
    transition: all 0.3s ease 0s;
}

button2:hover {
    background-color: #000000;
}

button2:focus {
    background-color: #2B2B2B;
}

/**Create a Navb with menu list**/

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 32px 10%;
    background-color: hsla(0, 0%, 10%, 0.902);
    color: hsl(0, 0%, 13%);
    backdrop-filter: blur(14px);
    border-bottom: 1px solid;
    border-bottom-color: hsl(0, 0%, 13%);
}

.menu-and-connectbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    width: inherit;
    margin: 0;
}

.logo_nav {
    width: clamp(3rem, 10vw, 3.8rem);
    cursor: pointer;
    margin: 0;
}

.navbar-links ul {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links li {
    list-style: none;
    margin: 0 4% 0 0;
}

.navbar-links li a {
    text-decoration: none;
    color: #9c9c9c;
    padding: 1rem;
    display: block;
    cursor: pointer;
}

.navbar-links li a:hover {
    color: white;
}

/**extra values**/

.nav__links li a:click {
    color: #9B9B9B;
}

.nav__links li a:focus {
    color: #FFFFFF;
    font-weight: 500;
}

.navbar_focus {
    color: #FFFFFF;
    font-weight: 500;
}

li, a {
    color: #666666;
    font-family: inter;
    text-decoration: none;
    font-size: 16;
}

/**Secondary Mobile Navb menu**/

.burger-menu {
    position: absolute;
    top: 46px;
    right: 10%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

/* .burger-menu .bar {
    height: 12%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
} */

/**brief intro about me,...*/

.my__Intro {
    display: flex;
    flex-direction: column;
    padding: 8em 14%;
    text-align: center;
    min-width: 356px;
    margin-top: 8%;
    gap: 24px;
}

.hi {
    font-style: normal;
    font-size: clamp(2.0rem, 8vw, 2.75rem);
    font-weight: 500;
    line-height: 150%; /* 60px */
    text-wrap: balance;
    margin: auto;  
}

.intro__explained  {
    font-style: normal;
    font-size: clamp(1.35rem, 3vw, 1.60rem);
    font-weight: 350;
    line-height: 150%; /*36px*/
    max-width: 1080px;
    min-width: 628px;
    padding: 0px 2%;
    min-width: 250px;
    margin: 0 auto;
}

/**Let's display my latest projects**/

.my_work {
    display: grid;
    padding: 0;
    gap: 64px;    
}

.portfolio-projects {
    display: grid;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    padding: 0 16%;
    margin: auto;
    /* min-width: 900px; */
    gap: 96px;    
}

.project_1 {
    display: flex;
    /* flex-wrap: wrap; */
    background-color: #222222;
    padding: 64px;
    border-radius: 24px;
    gap: 64px;
    max-width: 964px;
    /* justify-content: space-between; */
    /* align-items: flex-end; */
    /* align-self: stretch; */
}

.project_1:hover {
    background-color: #2B2B2B;
    transition: all 0.3s ease-in-out 0s;
}

.project_details_1 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    padding: 0px;
    width: 100%;
    /* max-width: 500px; */
    gap: 20px;
}

.project_logo {
    /* display: flex; */
    width: 64px;
    height: 64px;
}

.pd_subtitle {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: font-size: clamp(.20rem, 3vw, 1.60rem);;
    font-style: normal;
    margin: 0;
}

.pd_role {
    color: #9B9B9B;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.pd_text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px; /* 140% */
    margin: 0;
}

.project_mock {
    display: flex;
    /* width: 100%; */
    max-width: 500px;
    margin: 0 auto;
    object-fit: cover;
    /* min-width: 340px; */
    /* align-items: flex-end; */
}

.wanna_see_more {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
    padding: 8% 0;
    gap: 24px;
}

.more_projects_description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-items: center;
    gap: 8px;
}

/* .project_details_2 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    max-width: 400px;
    min-width: 216px;
    gap: 20px;  
}

/* .project_2 {
    display: flex;
    flex-direction: row;
    background-color: #222222;
    padding: 64px 64px;
    border-radius: 24px;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    min-width: 700px; 
    gap: 40px;
}
/*.project_2:hover {
    background-color: #2B2B2B;
    transition: all 0.3s ease-in-out 0s;
} */

/**Banner inviting people to work with me**/

.want_work_together {
    display: grid;
    text-align: center;
    justify-items: center;
    background-color: #000000;
    padding: 56px 0px;
    width: 100%;
    gap: 32px;
    margin: 0 auto;
}

.work_together_details {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 4%;
    margin: 0 auto;
    gap: 16px;
}

.work-tog {
    font-size: clamp(1.90rem, 4vw, 2.5rem);
}

/**Let's create a footer**/

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;
    padding: 48px 10%;
    border-top: 1px solid;
    border-top-color: #222222;
    /* min-width: 1280px; */
}

.logo_footer {
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.logo_icon_socialmedia {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.logo_made_with_love {
    width: 16px;
    height: 16px;
}

.made_with_love {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 8px;
}

.footer_socialmedia {
    list-style: none;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

/**Body content**/


/**media queries**/

@media (max-width:1325px) {

    .portfolio-projects {
        padding: 0 12%;  
    }

    .project_1 {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width:1186px) {

    .portfolio-projects {
        padding: 0 8%;  
    }

    .project_1 {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width:1080px) {

    .nav__links {
        gap: 16px
    }

    .portfolio-projects {
        padding: 0 8%;  
    }

    .project_1 {
        display: flex;
        flex-direction: column;
    }
}

/**media queries*/

@media (max-width:960px) {
    
    .burger-menu {
        display: flex;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        position: fixed;
        width: 100%;
        /* height: 100vh;
        height: 100dvh; */
    }

    .menu-and-connectbtn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 68%;
    }

    .navbar-links {
        display: none;
        flex-direction: inherit;
        align-items: center;
        margin: 0;
        padding-top: 2em;
        height: inherit;
    }

    .navbar-links ul {
        width: 100%;
        margin-bottom: .75em;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
        margin: .75em 0;
    }
    

    .navbar-links.active {
        display: flex;
    }

    .my__Intro {
        padding: 12em 16%;
        margin: 8% 0 0 0;
    }

    .hi {
        padding: 0 2%;
    }

    .intro__explained {
        padding: 0 8%x;
        text-wrap: balance;
    }

    .project_mock {
        width: 100%;
    }

    .more_projects_description {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 4%;
    margin: 0 auto;
    gap: 16px;
    }

    footer {
        flex-direction: column;
    }

    .logo_footer {
        display: none;
    }

    .footer_socialmedia {
        margin-bottom: 0;
    }
}
