/**General style settings**/

* {
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: inter;
    text-align: inherit;
    line-height: 1.3;
    cursor: default;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 10%);
    width: 100%;
}

main {
    display: grid;
    width: 100%;
    margin: 0;
    gap: 2em;
    /* min-width: 1280px; */
}

h1, h2,h3, h4, h5, h6 {
    color: #FFFFFF;
    font-family: inter;
    text-align: inherit;
    margin: 0 auto;
    line-height: 1.3;
    cursor: default;
}

p {
    color: #9B9B9B;
    font-family: inter;
    text-align: inherit;
    margin: 0;
    cursor: default;
}

strong {
    color: #FFFFFF;
    font-size: inherit;
    font-family: inherit;
    font-weight: 400;
    margin: 0;
    cursor: default;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
    font-weight: 600;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

small, .text_small {
    font-size: 0.8rem;
    color: #9B9B9B;
    font-family: inter;
    text-align: inherit;
    margin: 0px;
    cursor: default;
}

button {
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    font-family: inter;
    font-size: clamp(.90rem, .50vw, 1rem);
    font-style: normal;
    font-weight: 500;
    color: hsl(100, 50%, 10%);
    line-height: 16px; /**140**/
    padding: 16px 24px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    max-width: 300px;
    gap: 8px;
    margin: 0;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: hsl(0, 0%, 85%);
}


button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-family: inter;
    font-size: clamp(.90rem, .50vw, 1rem);
    font-style: normal;
    font-weight: 500;
    color: #ECEDF4;
    line-height: 24px; /**140**/
    padding: 16px 24px;
    border: 2px solid #ECEDF4;
    border-radius: 12px;
    cursor: pointer;
    /* max-width: 500px; */
    gap: 8px;
    transition: all 0.3s ease 0s;
}

button2:hover {
    background-color: #000000;
}

button2:focus {
    background-color: #2B2B2B;
}

.btn3-icon-Text-on-and-off {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 16px 24px;
    border: 2px solid #ECEDF4;
    border-radius: 12px;
    cursor: pointer;
    gap: 8px;
    transition: all 0.3s ease 0s;
}

.btn3-icon-Text-on-and-off:hover {
    background-color: #000000;
}

.btn3-icon-Text-on-and-off:active {
    background-color: #2B2B2B;
}

.btn3-text {
    font-family: inter;
    font-size: clamp(.90rem, .50vw, 1rem);
    font-style: normal;
    font-weight: 500;
    color: #ECEDF4;
    line-height: 24px; /**140**/
    margin: 0;
    cursor: pointer;
}

.button_icon {
    width: 22px;
    margin: 0;
    cursor: pointer;
}


/**Create a Navb with menu list**/

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 1.5em 10%;
    background-color: hsla(0, 0%, 10%, 0.902);
    color: hsl(0, 0%, 24%);
    backdrop-filter: blur(14px);
    border-bottom: 1px solid;
    border-bottom-color: hsl(0, 0%, 13%);
}

.menu-and-connectbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    width: inherit;
    margin: 0;
}

.logo_nav {
    width: clamp(3rem, 4vw, 3.2rem);
    cursor: pointer;
    margin: 0;
}

.navbar-links ul {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links li {
    list-style: none;
    margin: 0 4% 0 0;
}

.navbar-links li a {
    text-decoration: none;
    color: #9c9c9c;
    padding: 1rem;
    display: block;
    cursor: pointer;
}

.navbar-links li a:hover {
    color: white;
}

/**extra values**/

.nav__links li a:click {
    color: #9B9B9B;
}

.nav__links li a:focus {
    color: #FFFFFF;
    font-weight: 500;
}

.navbar-links li a.navbar_focus {
    color: #FFFFFF;
    font-weight: 500;
}

li, a {
    color: #666666;
    font-family: inter;
    text-decoration: none;
    font-size: 16;
}

/**Secondary Mobile Navb menu**/

.burger-menu {
    position: absolute;
    top: 46px;
    right: 10%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

/* .burger-menu .bar {
    height: 12%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
} */

/**brief intro about me,...*/

.my__Intro {
    display: flex;
    flex-direction: column;
    padding: 16em 14% 7em 14%;
    text-align: center;
    min-width: 356px;
    gap: 24px;
}

.hi {
    font-style: normal;
    font-size: clamp(1.8rem, 4vw, 2.40rem);
    font-weight: 500;
    line-height: 150%; /* 60px */
    text-wrap: balance;
    margin: auto;  
}

.intro__explained  {
    font-style: normal;
    font-size: clamp(1.2rem, 3vw, 1.40rem);
    font-weight: 350;
    line-height: 150%; /*36px*/
    max-width: 1080px;
    min-width: 628px;
    padding: 0px 2%;
    min-width: 250px;
    margin: 0 auto;
}

/**Let's display my latest projects**/

.my_work {
    display: grid;
    padding: 0;
    gap: 64px;    
}

.portfolio-projects {
    display: grid;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    padding: 0 16%;
    margin: auto;
    /* min-width: 900px; */
    gap: 96px;    
}

.project_1 {
    display: flex;
    /* flex-wrap: wrap; */
    background-color: #222222;
    padding: 48px;
    border-radius: 24px;
    gap: 64px;
    max-width: 964px;
    /* justify-content: space-between; */
    /* align-items: flex-end; */
    /* align-self: stretch; */
}

.project_1:hover {
    background-color: #2B2B2B;
    transition: all 0.3s ease-in-out 0s;
}

.project_details_1 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    padding: 0px;
    width: 100%;
    /* max-width: 500px; */
    gap: 20px;
}

.project_logo {
    /* display: flex; */
    width: 64px;
    height: 64px;
}

.pd_subtitle {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: clamp(1.35rem, 3vw, 1.60rem);
    font-style: normal;
    margin: 0;
}

.pd_role {
    color: #9B9B9B;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1rem, 3vw, 1.10rem);
    margin: 0;
}

.pd_text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px; /* 140% */
    margin: 0;
}

.project_mock {
    display: flex;
    /* width: 100%; */
    max-width: 500px;
    margin: 0 auto;
    object-fit: cover;
}

.wanna_see_more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 8%;
    gap: 24px;
}


/**Banner inviting people to work with me

.want_work_together {
    display: grid;
    text-align: center;
    justify-items: center;
    background-color: #000000;
    padding: 56px 0px;
    width: 100%;
    gap: 32px;
    margin: 0 auto;
}

.work_together_details {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 4%;
    margin: 0 auto;
    gap: 16px;
}

.work-tog {
    font-size: clamp(1.90rem, 4vw, 2.5rem);
}**/

/**About me page*/

.container-about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 12em 12% 7em 12%;
    text-align: center;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    text-align: start;
    gap: 4em;
}

.about-me-AndTitle {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1.5em;
}

.about-h3 {
    margin: 0;
}

.about-me-details {
    max-width: 724px;
}

.about__explained {
    font-style: normal;
    font-size: clamp(1rem, 3vw, 1.20rem);
    font-weight: 350;
    line-height: 150%; /*36px*/
    max-width: 1080px;
    min-width: 628px;
    padding: 0;
    margin: 0 0 1.5em;
    min-width: 250px;
    gap: 24px;
}

.about-photos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-top: 2em;
    gap: 1.5em;
}

.about-me-pics {
    width: 10em;
    margin: 0 auto;
    transition: all 0.3s ease 0s;
}

.about-me-pics:hover {
    color: #FFFFFF;
    box-shadow: hsla(0, 0%, 100%, 0.521);
    backdrop-filter: blur(13px);
}

/**About me - testimonies**/

.container-testimonies{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 11em 12% 7em 12%;
    text-align: center;
    gap: 5em;
}

.testimonies-h3 {
    margin: 0;
}

.testimonies {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    text-align: start;
    gap: 5em;
    max-width: 964px;
}

.quotation-mak {
    width: 2rem;
}

.testimonies-details {
    display: flex;
    flex-direction: column;
    background-color: #222222;
    padding: 24px;
    border-radius: 24px;
    gap: 12px;
    max-width: 964px;
    transition: all 0.3s ease-in-out 0s;
}

.testim-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.testim-1 {
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.testim-2 {
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.testimonies-details:hover {
    background-color: #2B2B2B;
}

.testimony_text {
    font-style: normal;
    font-size: clamp(1rem, 3vw, 1.10rem);
    font-weight: 350;
    line-height: 150%; /*36px*/
}

.testim-person-photo {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.person-photo {
    width: 5rem;
}

.testim-person-role{
    display: flex;
    flex-direction: column;
}

.person-name {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 450;
    font-size: clamp(.90rem, 3vw, 1rem);
    line-height: 24px; /* 140% */
    margin: 0;
}

.person-role {
    color: #9B9B9B;
    font-style: normal;
    font-weight: 300;
    font-size: clamp(.80rem, 3vw, .90rem);
    margin: 0;
}

/**Projects page*/

.project-container{
    padding: 12em 0;
}

.my-process {
    display: flex;
    flex-direction: column;
    padding: 8em 14% 7em 14%;
    text-align: center;
    min-width: 356px;
    gap: 48px;
}

.double-diamond-framework {
    margin: 0 auto;
    width: 16em;
}

.double-diamond-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    flex-wrap: wrap;
    margin: 2em auto;
    gap: 8em;
    max-width: 764px;
    
}

.my-clients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;
    padding: 8em 10%;
    gap: 48px;
}

.clients-logo {
    cursor: pointer;
    width: 8em;
    margin: 0 auto;
}

.clients-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    gap: 88px;
    flex-wrap: wrap;
}


/**Resume page**/

.container-expe-educ-skill{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 0;
    padding: 11em 12% 7em 12%;
    text-align: center;
    gap: 4em;
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume-h3 {
    margin: 0;
}

.resume {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    text-align: start;
    gap: 5em;
    max-width: 964px;
}

.resume-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.resume-details {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding: 24px;
    border-radius: 24px;
    gap: 12px;
    max-width: 964px;
    transition: all 0.3s ease-in-out 0s;
}

.resume-details:hover {
    background-color: #2B2B2B;
}

.resume_text {
    min-width: 118px;
    font-size: clamp(1rem, 3vw, 1.10rem);
    font-style: normal;
    font-weight: 300;
}

.resu-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.job-description_text {
    font-style: normal;
    font-size: clamp(1rem, 3vw, 1.10rem);
    font-weight: 350;
    line-height: 150%; /*36px*/
}

.testimonies-details:hover {
    background-color: #2B2B2B;
    transition: all 0.3s ease-in-out 0s;
}

.company-and-role-name {
    display: flex;
    gap: 8px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(1rem, 3vw, 1.10rem);
    line-height: 24px; /* 140% */
    margin: 0;
}

.industry {
    color: #9B9B9B;
    font-style: normal;
    font-weight: 300;
    font-size: clamp(.80rem, 3vw, .90rem);
    margin: 0;
}

/**Resume-Education**/

.education-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

/**Resume-skills**/

.my-skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 48px;
    max-width: 900px;
}

.skill_text {
    min-width: 149px;
    font-size: clamp(1rem, 3vw, 1.10rem);
    font-style: normal;
    font-weight: 250px;
}

.skill-languages {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 64px;
}

.language {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 12px;
    max-width: 350px;
}

.lang-level {
    display: flex;
    justify-content: space-between;
}

.circles-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.circles-active {
    width: clamp(0.9rem, 3vw, 1.10rem);
    height: clamp(0.9rem, 3vw, 1.10rem);
    background-color: #4A834D;
    border-radius: 50%;
}

.circles-inactive {
    width: clamp(0.9rem, 3vw, 1.10rem);
    height: clamp(0.9rem, 3vw, 1.10rem);
    background-color: #2F3630;
    border-radius: 50%;
}


.skill-general {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
}

.skill-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.skills-container {
    display: flex;
    gap: 56px;
}

.skill-column-1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
}



/**Case Studies iFrames**/

.my-case-studies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;
    padding: 8em 10%;
    gap: 48px;
}

#Case-study-container {
    display: flex;
    border: 1px solid hsl(0, 0%, 10%);
    width: 70em;
    height: 64em;
    border-radius: 24px;
}


/**Let's create a footer**/

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;
    padding: 1.4em 10%;
    margin-top: 1.5em;
    border-top: 1px solid;
    border-top-color: #222222;
    /* min-width: 1280px; */
}

.logo_footer {
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.logo_icon_socialmedia {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.logo_made_with_love {
    width: 16px;
    height: 16px;
}

.made_with_love {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 8px;
}

.footer_socialmedia {
    list-style: none;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

/**End of Body content**/


/**media queries**/

@media (max-width:1325px) {

    .portfolio-projects {
        padding: 0 12%;  
    }

    .project_1 {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width:1186px) {

    .portfolio-projects {
        padding: 0 8%;  
    }

    .project_1 {
        display: flex;
        flex-direction: row;
    }

    .about-me {
        flex-direction: column;
    }

    .about-photos {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .testim-1 {
        flex-direction: column;
    }
    
    .testim-2 {
        flex-direction: column;
    }

    #Case-study-container {
        width: 54em;
        height: 44em;
    }

}

@media (max-width:1080px) {

    .nav__links {
        gap: 16px
    }

    .portfolio-projects {
        padding: 0 8%;  
    }

    .project_1 {
        display: flex;
        flex-direction: column;
    }

    #Case-study-container {
        width: 44em;
        height: 44em;
    }
}

@media (max-width:960px) {

    main {
        gap: .75em;
    }

    .burger-menu {
        top: 1.5rem;
        width: 2.5rem;;
        height: 2.5rem;
    }

    .logo_nav {
        width: 2.5rem;
    }
    
    .burger-menu {
        display: flex;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        position: fixed;
        width: 100%;
        background-color: hsl(0, 0%, 10%);
        /* height: 100vh;
        height: 100dvh; */
    }

    .menu-and-connectbtn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 68%;
    }

    .navbar-links {
        display: none;
        flex-direction: inherit;
        align-items: center;
        margin: 0;
        padding-top: 2em;
        height: inherit;
    }

    .navbar-links ul {
        width: 100%;
        margin-bottom: .75em;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
        margin: .75em 0;
    }
    

    .navbar-links.active {
        display: flex;
    }

    .my__Intro {
        padding: 8em 10% 5em 10%;
        margin: 8% 0 0 0;
    }

    .hi {
        padding: 0;
    }

    .intro__explained {
        padding: 0 8%x;
        text-wrap: balance;
    }

    .project_mock {
        width: 100%;
    }

    .project_1 {
        padding: 4;
    }

    footer {
        flex-direction: column;
        margin-top: 64px;
    }

    .logo_footer {
        display: none;
    }

    .footer_socialmedia {
        margin-bottom: .75em;
    }

    .about-h3 {
        margin: 0 auto;
    }

    .btn3-text {
        display: none;
    }

    .btn3-icon-Text-on-and-off {
        padding: 14px 18px;
    }

    #Case-study-container {
        width: 40em;
    }
}

@media (max-width:790px) {

    #Case-study-container {
        width: 32em;
        height: 44em;
    }
}


@media (max-width:680px) {

    .resume-details {
        flex-direction: column;
    }

    .container-resume {
        width: 100%;
        padding: 11em 11% 7em 11%;
    }

    .skill-languages {
        flex-wrap: wrap;
    }

    .skill_text {
        min-width: 120px;
    }

    .my-case-studies {
        padding: 8em 4% 2em 4%;
    }

    #Case-study-container {
        width: 24em;
        height: 44em;
    }

    footer {
        margin-top: 64px;
    }
}

@media (max-width:470px) {

    #Case-study-container {
        width: 20em;
        height: 34em;
    }
}